@CHARSET "ISO-8859-1";
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    background-color:white; 
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.center{
	margin:auto;
	width:45%;
	height:75%;
	padding:120px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
.retro {

  font: normal 25px/normal "Anton", Arial Black;
  color: rgb(25 ,100, 150);
  text-align: center;
  letter-spacing: 2px;
  
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 65%;
   
}

/* Add padding to containers */
.container {
    padding: 16px;
}



select {
  width: 100%;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  appearance: none;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }